body {
    background-color: green;

}

div {
    background-color: rgba(255, 255, 0, 0.5);
}


#header {
    background-color: darkslategray;

}

label {
    background-color: aqua;
}

input {
    background-color: cadetblue;
}